
.thumb {
    margin-bottom: 30px;
}

.thumbnail {
      width: 100%;
  height: 100%;
overflow: hidden;
    height:200px;
}


a.thumbnail {
    background-size: cover;
}
a.thumbnail:hover {

background-size: contain !important;
}