<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" > <!--<![endif]-->
<head lang="en">
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{%  block title %}{% endblock %} Twin Study</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
{#    <link rel="stylesheet/less" type="text/css" href="{% static 'css/index.less'%}" />#}
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.7.3/less.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700' rel='stylesheet' type='text/css'>{#    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />#}
    <link rel="stylesheet" href="{% static 'css/thumbnail-gallery.css' %}" type="text/css"  />
    <link rel="stylesheet" href="{% static 'css/full-width-pics.css' %}" type="text/css"  />
    <link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css"  />
    <script src="{% static 'js/index.js' %}"></script>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->


{% block head %}{% endblock %}
</head>
<body>
<div class="container">
<nav class="navbar-fixed-top navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Home</a>
    </div>


            {#<input type=search name=s id="searchBox"  >#}
{#        <span class="navbar-form navbar-left" role="search">#}
{#            <button id="searchMovie" class="btn btn-default btn-lg">Search</button>#}
{#            <button id="showFavorites" class="btn btn-default btn-lg">Show Favorites</button>#}
{#        </span>#}
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
            <li><a href="{% url 'add_image'  %}">add image</a></li>
            <li><a href="{% url 'view_gallery'  %}">view gallery</a></li>
            <li> <a href="{% url 'profile_update' user.id %}">update profile</a></li>
                <li>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            {% if user.is_authenticated %}{{ user.first_name }}
            {% else %}Login
            {% endif %} <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
    {% if user.is_authenticated %}
        <li><a href="{% url 'profile' %}">Profile</a></li>
        {% if user.is_staff %}
            <li><a href="{% url 'admin:index' %}">Admin</a></li>
        {% endif %}
            <li class="divider"></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>

    {% else %}
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'register' %}">Register</a></li>
    {% endif %}
          </ul>
        </li>
                </ul>
                </li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>
    <header class="image-bg-fluid-height">
        <img class="img-responsive img-center" src="http://placehold.it/200x200&text=Logo" alt="">








    </header>



{% block nav %}
{% endblock %}
<div class="container">
{% block content %}




    {% endblock %}
</div>
    <hr>


    {% block subnav %}

    {% endblock %}


<div class="footer">
	{% block footer %}
    <span>
    {% if user.is_authenticated %}
        <a href="{% url 'profile' %}">{{ user.username }}</a> |
        {% if user.is_staff %}
            <a href="{% url 'admin:index' %}">Admin</a> |
        {% endif %}
        <a href="{% url 'logout' %}">Logout</a>

    {% else %}
        <a href="{% url 'login' %}">Login</a> | <a href="{% url 'register' %}">Register</a>
    {% endif %}
    </span>
    {% endblock %}
			   </div>

</div>
</body>
</html>