{% extends "base.html" %}
{% block nav %}{% endblock %}
{% block content %}

    <button id="enroll_image">Enroll Images</button>
    <button id="recognize_image1">Recognize Image 1</button>
    <button id="recognize_image2">Recognize Image 2</button>
    <button id="gallery_view">gallery view</button>
{#    <button id="enroll_image">Enroll Images</button>#}



    <h2>Results:</h2>
    <div id="resultsBox">
    </div>



    {% endblock %}


    <hr>


    {% block subnav %}

    {% endblock %}


