<div class="movieInfo row">
    <div class="col-md-3 movie_thumb"><img src="{{ movie_info.poster }}" /><br>
        <button id="favorite" data-id="{{ movie_info.index }}" type="button" class="btn btn-default btn-lg">
        Favorite This Movie
        </button>
        <span class="glyphicon glyphicon-star"></span>
        <div class="multiSave">
            <label >Multi-Save</label>
            <input type="checkbox" id="{{movie_info.index}}">
        </div>
        <button id="removeFave">Remove Favorite</button>
    </div>
    <div class="col-md-7">
        <h2>{{ movie_info.title }}</h2>
        <p>Release Year: {{ movie_info.release_year }}</p>
        <p class="synopsis showhide">{{ movie_info.synopsis }}</p>
        <hr>
        {% if actors %}
        <div class="black-bar">
            <h3>Actors:</h3>
        </div>
        <div class="actor-display">
{#    {{ movie_info.actors }}#}
            {% for actor in movie_info.actors %}
{#                <a href="{% url "view_racer" actor.id %}" >#}
                <li>{{ actor.name }} - {{ actor.characters|first }}<br>
                </li>
            {% endfor %}
                    </div>

        {% endif %}
    </div>
{#<button id="favorite" data-id="{{ movie_info.index }}">#}
{#    Favorite This Movie#}
{#</button>#}
    <div class="col-md-2">
        <button id="moreInfo">More Information</button>
        <div class="moreInfoBox" style="display:none;" >
            <p>mpaa rating: {{ movie_info.mpaa_rating }}</p>
            <p>Run Time: {{ movie_info.runtime }}<br>
            Critic Rating: {{ movie_info.critic_rating }}<br>
                Audience Rating: {{ movie_info.audience_score }}
            </p>
{#    <p>Synopsis: {{ movie_info.synopsis }}</p>#}
        </div>
    </div>
{#    <div class='clearfix'></div>#}
{#    <div class="actorInfo row"><h3>Actors</h3>#}
{#    </div>#}
</div>