{% extends 'base.html' %}
{% load humanize %}


{% block title %}Profile - {{ user.first_name|title }}{% endblock %}
{% block content %}
    <div class="col-md-6">
    <h1>{{ user.first_name|title }} {{ user.last_name|title }}</h1>
 <!--<p>Hi {{ user.first_name|title }} {{ user.last_name|title }}, you were last here {{ user.last_login|naturalday }}, {{ user.last_login|naturaltime }}</p>-->



    </div>
<div class="clearfix"></div>
<hr>

<div class="container">
    <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">    {{ images.subject_id }} - {{ images.gallery_name.gallery_name }}
 Gallery</h2>
            </div>
{% for image in images %}
    <div class="col-lg-3 col-md-4 col-xs-6 thumb" >
        <a class="thumbnail" href="#" style="background: url('/static{{ image.image.url }}') center 40%  #fafaff no-repeat;background-size:cover;">
{#            <img class="img-responsive" src="/static{{ image.image.url }}" alt="{{ image.subject_id }}">#}
        </a>
    </div>
{% endfor %}

    </div>
</div>



<hr><hr>


<p>
        <a href="{% url 'add_image'  %}">add image</a><br>
        <a href="{% url 'view_gallery'  %}">view gallery</a><br>
        <a href="{% url 'profile_update' user.id %}">update profile</a>
</p>


{% endblock content %}
